svg {
  background-color: $transparent;
  padding: 0vh 0 0 5vw; // Make this alterable/editable by JS for the View part?

  path.state {
    // border-style: solid;
    // border: 4px solid aqua;
    fill: $wt_11;
  } 

  path.state:hover {
    fill: red;
  }

  path.state-borders {
    fill: none;
    stroke: $wt_14; // Maybe make border colors more white (like 85?)
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }
}