.story-modal {
  // display: none;
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 1;
  left: 1vw;
  top: 10vh;
  height: 25vh;
  width: 34vw;
  overflow: auto;
  background: $wt_05;
  // background-color: rgba(18,18,18,0.75);
  justify-content: center;
  text-align: center;
  align-content: space-between;

  h1 {
    font-size: 25px;
    margin: 10px 0px;
  }
}