// Colors
$transparent: rgba(255, 255, 255, 0.00);
// White:
$wt_05: rgba(255, 255, 255, 0.05);
$wt_07: rgba(255, 255, 255, 0.07);
$wt_08: rgba(255, 255, 255, 0.08);
$wt_09: rgba(255, 255, 255, 0.09);
$wt_11: rgba(255, 255, 255, 0.11);
$wt_12: rgba(255, 255, 255, 0.12);
$wt_14: rgba(255, 255, 255, 0.14);
$wt_15: rgba(255, 255, 255, 0.15);
$wt_16: rgba(255, 255, 255, 0.16);
// whiter text
$wt_85: rgba(255, 255, 255, 0.85);
$wt_95: rgba(255, 255, 255, 0.95);

/*
primary:
$prim
$p_lt
$p_dk

secondary
$secd
$s_lt
$s_dk

$err
*/